@use "../abstracts/variables";
@use "../abstracts/mixins";

#navigation-bar {
  background-color: variables.$secondary;

  .custom-brand {
    @include mixins.navbar-text();

    font-size: 1.8rem;
  }

  .custom-nav {
    .custom-nav-link {
      @include mixins.navbar-text();

      font-size: 1rem;

      &:hover {
        color: variables.$teal;
      }
    }
  }
}
